.input {
  padding: 0;
  margin: 25px auto 25px 25px;
  border: none;
  border-radius: 8px;
  flex-grow: 2;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  background-color: #FAFAFA;
}

.input:focus {
  outline: none;
}

@media screen and (max-width: 425px) {
  .input {
    margin: 20px auto 20px 12px;
    font-size: 16px;
    line-height: 16px;
  }
}