.cards {
  margin: 0 70px;
}

.cards__list {
  margin: 70px 0 -22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards__list_saved {
  margin: 70px 0 58px;
}

@media screen and (max-width: 1024px) {

  .cards {
    margin: 0 30px;
  }

  .cards__list {
    margin: 70px 0 -2px;
  }
}

@media screen and (max-width: 744px) {
  .cards__list {
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {

  .cards {
    margin: 0 10px;
  }
  .cards__list {
    margin: 40px 0 -2px;
  }
}