.sign-bottom {
  margin: 0 auto;
  padding-bottom: 80px;
}

.sign-bottom__error {
  min-height: 29px;
  margin: 0 auto 12px; 
  width: 396px; 
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #EE3465;
  display: block; 
  box-sizing: border-box; 
}

.sign-bottom__button { 
  width: 396px; 
  margin: 0 auto 16px; 
  padding: 14px 0 14px; 
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FAFAFA;
  background: #3456F3;
  border-radius: 3px;
  border: none; 
  border-radius: 2px; 
  cursor: pointer; 
} 

.sign-bottom__button_disabled { 
  color: rgba(160, 160, 160, 1);
  background: rgba(244, 244, 244, 1);
} 

.sign-bottom__link-desc {
  margin: 0 auto 0; 
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center; 
}

.sign-bottom__link { 
  text-decoration: none; 
  color: #3456F3;
} 

@media screen and (max-width: 425px) {

  .sign-bottom__button { 
    width: 260px; 
    font-size: 12px;
    line-height: 15px;
  } 

  .sign-bottom__error {
    width: 260px; 
    font-size: 12px;
    line-height: 15px;
  }

  .sign-bottom__link-desc {
    font-size: 12px;
    line-height: 15px;
  }

}