.profile {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.profile__message {
  margin: 74px auto 123px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form { 
  display: flex; 
  flex-direction: column; 
  margin-bottom: 16px; 
} 

.profile__input-container {
  width: 410px; 
  margin: 0 auto 17px; 
  border-bottom: 1px solid #E8E8E8; 
  display: flex;
}

.profile__input-container:last-of-type { 
  border-bottom: none;
  margin-bottom: 220px;
} 

.profile__placeholder {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__input {
  flex-grow: 2;
  padding: 0 0 9px; 
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  background-color: #FAFAFA;
  border: none;
  outline: none; 
} 

.profile__submit-button {
  margin: 0 auto; 
  width: 410px; 
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none; 
  cursor: pointer; 
  background: #FAFAFA;
}

.profile__logout-button {
  margin: 0 auto; 
  width: 410px; 
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
  background: #FAFAFA;
  border: none; 
  cursor: pointer; 
}

@media screen and (max-width: 1024px) {
  .profile__message {
    margin: 236px auto 96px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
}

@media screen and (max-width: 425px) {

}