.promo {
  margin: 0 auto;
  min-height: 524px;
  max-width: 1280px;
  background-image: url(../../images/promo-logo.svg);
  background-repeat: no-repeat;
  background-position: right 50% top 82px;
  background-color: #DDDEE3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__title {
  margin: 184px 0 224px 0;
  max-width: 730px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

.promo__logo {

}