.page {
  font-family: 'Inter', 'Verdana', 'Arial', sans-serif;
  font-style: normal;
  color: #000000;
  background-color: #FAFAFA;
  margin: 0 auto;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

}
