.search {
  margin: 0 70px;
}

.search__form {
  margin: 70px 0 26px;
  display: flex;
  border: 1.5px solid rgba(170, 170, 170, .2);
  border-radius: 8px;
}

.search__form:focus-within {
  border: 1.5px solid #3456F3; 
}



@media screen and (max-width: 1024px) {
  .search {
    margin: 0 30px;
  }
}

@media screen and (max-width: 425px) {
  .search {
    margin: 0 10px;
  }

  .search__form {
    margin: 70px 0 30px;
  }
  
}