.search {
  margin: 0 auto;
  max-width: 1280px;
}

.search__form {
  margin: 70px 70px 26px 70px;
  display: flex;
  border: 1.5px solid rgba(170, 170, 170, .2);
  border-radius: 8px;
}

.search__input {
  padding: 0;
  margin: 25px;
  border: none;
  border-radius: 8px;
  flex-grow: 2;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.search__input:focus {
  outline: none;
}

.search__button {
  margin: 10px;
  border: none;
  padding: 17px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  background: #3456F3;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
}

.search__button:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}