.techs {
  padding: 100px 0 100px 0;
  max-width: 1280px;
  margin: 0 auto;
  background: #F5F5F5;
}

.techs__desc {
  margin: 0 auto 100px auto;
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.techs__list-item {
  height: 60px;
  width: 90px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  list-style: none;
  background: #E8E8E8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.techs__list-item:last-of-type {
  margin-right: 0;
}