.about-me {
  max-width: 1280px;
  margin: 110px auto 125px;
}

.about-me__body {
  margin: 0 70px 100px 70px;
  display: flex;
  justify-content: space-between;
}

.about-me__text {
  max-width: 600px;
}

.about-me__title {
  margin: 66px 0 18px 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__subtitle {
  margin: 0 0 26px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  mix-blend-mode: normal;
}

.about-me__bio {
  margin: 0 0 99px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  mix-blend-mode: normal;
}

.about-me__photo {
  margin: 66px 0 0;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

.about-me__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__link {
  text-decoration: none;
  color: #000000;
}

.about-me__link:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

@media screen and (max-width: 1024px) {
  .about-me {
    margin: 90px auto;
  }

  .about-me__body {
    margin: 0 50px 91px 50px;
    display: flex;
    justify-content: space-between;
  }

  .about-me__title {
    margin: 66px 0 16px 0;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__subtitle {
    margin: 0 0 20px 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__bio {
    margin: 0 0 87px 0;
    font-size: 12px;
    line-height: 18px;  
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

}

@media screen and (max-width: 425px) {
  .about-me {
    margin: 70px auto;
  }

  .about-me__body {
    margin: 0 14px 70px 14px;
    flex-direction: column-reverse;
  }

  .about-me__photo {
    margin: 60px 0 0;
    width: 292px;
    height: 352px;
  }

  .about-me__title {
    margin: 40px 0 20px 0;
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 16px;  
  }

  .about-me__bio {
    margin: 0 0 40px 0;
    font-size: 11px;
    line-height: 16px;   
  }

}